[submodule "helix"]
	path = helix
	url = https://github.com/helix-editor/helix.git
[submodule "language_servers/rust-analyzer"]
	path = language_servers/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
